.hero-unit
  %h1 休憩的天堂

  %p
    “瑜伽”这个词，是从印度梵语“yug”或“yuj”而来，其含意为“一致”“结合”或“和谐”。瑜伽是一个通过提升意识，帮助人们充分发挥潜能的哲学体系及其指导下的运动体系。瑜伽姿势是一个运用古老而易于掌握的方法，提高人们生理、心理、情感和精神方面的能力，是一种达到身体、心灵与精神和谐统一的运动形式。大约在公元前300年，印度的大圣哲瑜伽之祖帕坦伽利(patanjali)创作了《瑜伽经》，印度瑜伽在其基础上才真正成形，瑜伽行法被正式订为完整的八支体系。

%section{id: 'body'}
  .inner
    %p=raw @page.content_for(:body)

%section{id: 'side_body'}
  .inner
    %p=raw @page.content_for(:side_body)
