<div class="row">
  <div class="span2">
    <h4>公司</h4>
    <ul class="unstyled">
      <li><a href="/about">关于我们</a></li>
      <li><a href="/policies/terms.html">免责申明</a></li>
      <li><a href="/policies/privacy.html">隐私政策</a></li>
      <li><a href="/cancellation.html">其他政策</a></li>
      <li><a href="/customer/portal/emails/new">联系我们</a></li>
    </ul>
  </div>
  <div class="span2">
    <h4>站点地图</h4>
    <ul class="unstyled">
      <li><a href="/pricing">套餐与价格</a></li>
      <li><a href="http://support.mongohq.com">支持</a></li>
      <li><a href="http://blog.mongohq.com">博客</a></li>
      <li><a href="http://docs.mongohq.com">文档</a></li>
    </ul>
  </div>
</div>

<p>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
</p>
